################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TedGitTutorWithRepos/TedGitTutorWithRepos/Web.Release.config
